<app-header></app-header>
<hr>

<!-- -------------------- -->
<section class="text-gray-700 body-font md:mx-32 sm:mx-8 shadow-lg">
    <div class="container px-5 py-8">
        <div class="flex flex-col w-full mb-12 md:px-16 sm:px-4">
            <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900">
                INFOSYS Syllabus 2020
            </h1>
            <p class="lg:w-2/3 leading-relaxed ">INFOSYS conducts recruitment through the on/off Campus exams.<br> 
                INFOSYS conducts its 1st Round through the online test and there is no negative marking for this exam.</p>
            <b class="lg:w-2/3 leading-relaxed py-2">There are 4 sections in Infosys Online Test Paper(95 mins) –</b>

            <b class="lg:w-2/3 leading-relaxed py-2">The latest INFOSYS Online Assessment Pattern (90mins)</b>

            <ul class="list-disc ml-5">
                <li>
                    <b class="text-gray-600 hover:text-gray-800">Quantitative Aptitude</b>
                </li>
                <li>
                    <b class="text-red-600 hover:text-red-700">Logical Reasoning</b>
                </li>
                <li>
                    <b class="text-gray-600 hover:text-gray-800">Verbal English</b>
                </li>
                <li>
                    <b class="text-red-600 hover:text-red-700">Cryptarithematic</b>
                </li>
            </ul>
        </div>
        <b class="lg:w-2/3 leading-relaxed py-2">Infosys Test Pattern:</b>
        <div class="flex flex-col md:px-16 sm:px-4">
            <div class="-my-2 py-2 overflow-x-auto sm:-mx-6 sm:px-6 lg:-mx-8 lg:px-8">
                <div
                    class="align-middle inline-block min-w-full shadow overflow-hidden sm:rounded-lg border-b border-gray-200">
                    <table class="min-w-full">
                        <thead>
                            <tr class="bg-gray-300">
                                <th
                                    class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-800 uppercase tracking-wider">
                                    INFOSYS SYLLABUS 2020
                                </th>
                                <th
                                    class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-800 uppercase tracking-wider">
                                    NO OF QUESTIONS
                                </th>
                                <th
                                    class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-800 uppercase tracking-wider">
                                    TIME (MINS)
                                </th>
                                <th
                                    class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-800 uppercase tracking-wider">
                                    DIFFICULTY
                                </th>
                                <th
                                    class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-800 uppercase tracking-wider">
                                    CUT OFF
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="bg-red-200">
                                <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">

                                    <div class="text-sm leading-5 font-medium text-gray-900">Logical
                                    </div>

                                </td>
                                <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
                                    <div class="text-sm leading-5 text-gray-900">15 (approx)
                                    </div>
                                </td>
                                <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
                                    <div class="text-sm leading-5 text-gray-900">35 mins (combined)
                                    </div>
                                </td>
                                <td
                                    class="px-6 py-4 whitespace-no-wrap border-b border-gray-200 text-sm leading-5 text-gray-500">
                                    <div class="text-sm leading-5 text-gray-900">Hard
                                    </div>
                                </td>
                                <td
                                    class="px-6 py-4 whitespace-no-wrap border-b border-gray-200 text-sm leading-5 font-medium">
                                    <div class="text-sm leading-5 text-gray-900">13
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">

                                    <div class="text-sm leading-5 font-medium text-gray-900">Quants
                                    </div>

                                </td>
                                <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
                                    <div class="text-sm leading-5 text-gray-900">10 (approx)
                                    </div>
                                </td>
                                <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
                                    <div class="text-sm leading-5 text-gray-900">25 mins (combined)
                                    </div>
                                </td>
                                <td
                                    class="px-6 py-4 whitespace-no-wrap border-b border-gray-200 text-sm leading-5 text-gray-500">
                                    <div class="text-sm leading-5 text-gray-900">Medium
                                    </div>
                                </td>
                                <td
                                    class="px-6 py-4 whitespace-no-wrap border-b border-gray-200 text-sm leading-5 font-medium">
                                    <div class="text-sm leading-5 text-gray-900">7
                                    </div>
                                </td>
                            </tr>
                            <tr class="bg-red-200">
                                <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">

                                    <div class="text-sm leading-5 font-medium text-gray-900">Verbal
                                    </div>

                                </td>
                                <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
                                    <div class="text-sm leading-5 text-gray-900">40 (approx)
                                    </div>
                                </td>
                                <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
                                    <div class="text-sm leading-5 text-gray-900">35 mins (combined)
                                    </div>
                                </td>
                                <td
                                    class="px-6 py-4 whitespace-no-wrap border-b border-gray-200 text-sm leading-5 text-gray-500">
                                    <div class="text-sm leading-5 text-gray-900">Medium
                                    </div>
                                </td>
                                <td
                                    class="px-6 py-4 whitespace-no-wrap border-b border-gray-200 text-sm leading-5 font-medium">
                                    <div class="text-sm leading-5 text-gray-900">32
                                    </div>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- -------------------- -->

<section class="text-gray-700 body-font md:mx-32 sm:mx-8 shadow-lg">
    <div class="container px-5 py-8 mx-auto flex flex-wrap">
        <div class="flex flex-wrap w-full md:px-16 sm:px-4">
            <div class=" md:pr-10 md:py-6">
                <div class="flex relative pb-12">
                    <div class="h-full w-10 absolute inset-0 flex items-center justify-center">
                        <div class="h-full w-1 bg-gray-200 pointer-events-none"></div>
                    </div>
                    <div
                        class="flex-shrink-0 w-10 h-10 rounded-full bg-red-600 inline-flex items-center justify-center text-white relative z-10">
                        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                            stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                            <path d="M12 22s8-4 8-10V5l-8-3-8 3v7c0 6 8 10 8 10z"></path>
                        </svg>
                    </div>
                    <div class="flex-grow pl-4">
                        <h2 class="font-medium title-font text-sm text-gray-900 mb-1 tracking-wider">Quants</h2>
                        <div class="flex flex-wrap -m-4 text-center">
                            <div class="w-1/3 p-4">
                                <h2 class="title-font font-medium sm:text-lg text-md text-red-600 hover:text-red-700">No
                                    of Questions</h2>
                                <p class="leading-relaxed">10 (approx)</p>
                            </div>
                            <div class="w-1/3 p-4">
                                <h2 class="title-font font-medium sm:text-lg text-md text-red-600 hover:text-red-700">
                                    Time</h2>
                                <p class="leading-relaxed">25 mins (combined with Verbal and Logical)</p>
                            </div>
                            <div class="w-1/3 p-4">
                                <h2
                                    class="title-font font-medium sm:text-lg text-md text-red-600 hover:text-red-700 cursor-pointer">
                                    Negative Marking
                                </h2>
                                <p class="leading-relaxed">No</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flex relative pb-12">
                    <div class="h-full w-10 absolute inset-0 flex items-center justify-center">
                        <div class="h-full w-1 bg-gray-200 pointer-events-none"></div>
                    </div>
                    <div
                        class="flex-shrink-0 w-10 h-10 rounded-full bg-red-600 inline-flex items-center justify-center text-white relative z-10">
                        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                            stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                            <path d="M22 12h-4l-3 9L9 3l-3 9H2"></path>
                        </svg>
                    </div>
                    <div class="flex-grow pl-4">
                        <h2 class="font-medium title-font text-sm text-gray-900 mb-1 tracking-wider">English Verbal</h2>
                        <div class="flex flex-wrap -m-4 text-center">
                            <div class="w-1/3 p-4">
                                <h2 class="title-font font-medium sm:text-lg text-md text-red-600 hover:text-red-700">No
                                    of Questions</h2>
                                <p class="leading-relaxed">40 (approx)</p>
                            </div>
                            <div class="w-1/3 p-4">
                                <h2 class="title-font font-medium sm:text-lg text-md text-red-600 hover:text-red-700">
                                    Time</h2>
                                <p class="leading-relaxed">35 mins (combined with Verbal and Logical)</p>
                            </div>
                            <div class="w-1/3 p-4">
                                <h2
                                    class="title-font font-medium sm:text-lg text-md text-red-600 hover:text-red-700 cursor-pointer">
                                    Negative Marking
                                </h2>
                                <p class="leading-relaxed">No</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flex relative pb-12">
                    <div class="h-full w-10 absolute inset-0 flex items-center justify-center">
                        <div class="h-full w-1 bg-gray-200 pointer-events-none"></div>
                    </div>
                    <div
                        class="flex-shrink-0 w-10 h-10 rounded-full bg-red-600 inline-flex items-center justify-center text-white relative z-10">
                        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                            stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                            <circle cx="12" cy="5" r="3"></circle>
                            <path d="M12 22V8M5 12H2a10 10 0 0020 0h-3"></path>
                        </svg>
                    </div>
                    <div class="flex-grow pl-4">
                        <h2 class="font-medium title-font text-lg text-gray-900 mb-1 tracking-wider">Logical Reasoning
                        </h2>
                        <div class="flex flex-wrap -m-4 text-center">
                            <div class="w-1/3 p-4">
                                <h2 class="title-font font-medium sm:text-lg text-md text-red-600 hover:text-red-700">No
                                    of Questions</h2>
                                <p class="leading-relaxed">15 (approx)</p>
                            </div>
                            <div class="w-1/3 p-4">
                                <h2 class="title-font font-medium sm:text-lg text-md text-red-600 hover:text-red-700">
                                    Time</h2>
                                <p class="leading-relaxed">25 mins (combined with Verbal and Logical)</p>
                            </div>
                            <div class="w-1/3 p-4">
                                <h2
                                    class="title-font font-medium sm:text-lg text-md text-red-600 hover:text-red-700 cursor-pointer">
                                    Negative Marking
                                </h2>
                                <p class="leading-relaxed">No</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flex relative pb-12">
                    <div class="h-full w-10 absolute inset-0 flex items-center justify-center">
                        <div class="h-full w-1 bg-gray-200 pointer-events-none"></div>
                    </div>
                    <div
                        class="flex-shrink-0 w-10 h-10 rounded-full bg-red-600 inline-flex items-center justify-center text-white relative z-10">
                        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                            stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                            <path d="M20 21v-2a4 4 0 00-4-4H8a4 4 0 00-4 4v2"></path>
                            <circle cx="12" cy="7" r="4"></circle>
                        </svg>
                    </div>
                </div>
                <div class="flex relative">
                    <div
                        class="flex-shrink-0 w-10 h-10 rounded-full bg-red-600 inline-flex items-center justify-center text-white relative z-10">
                        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                            stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                            <path d="M22 11.08V12a10 10 0 11-5.93-9.14"></path>
                            <path d="M22 4L12 14.01l-3-3"></path>
                        </svg>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>


<!-- -------------------- -->
<section class="text-gray-700 body-font md:mx-32 sm:mx-8 shadow-lg">
    <div class="container px-5 py-8">
        <div class="flex flex-col w-full mb-12 md:px-16 sm:px-4">
            <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900">
                INFOSYS Selection Process
            </h1>
            <ul class="list-disc ml-16">
                <li class="my-1">
                    <b class="text-gray-800 hover:text-gray-900 text-lg">Written Test</b>
                </li>
                <li class="my-1">
                    <b class="text-gray-800 hover:text-gray-900 text-lg">Managerial Interview</b>
                </li>
                <li class="my-1">
                    <b class="text-gray-800 hover:text-gray-900 text-lg">HR/TECHNICAL Interview</b>
                </li>
            </ul>
        </div>
    </div>
</section>

<!-- -------------------- -->

<section class="text-gray-700 body-font md:mx-32 sm:mx-8 shadow-lg">
    <div class="container px-5 py-8 mx-auto">
        <div class="flex flex-wrap">
            <div class="w-1/3 md:px-16 sm:px-4">
                <h1 class="sm:text-2xl text-xl font-medium title-font mb-4  text-gray-900 py-2">
                    Aptitude Syllabus
                </h1>
                <ul class="list-disc">
                    <li class="my-1">• Percentages</li>
                    <li class="my-1">• Data Interpretation</li>
                    <li class="my-1">• Permutation and Combination</li>
                    <li class="my-1">• Probability</li>
                    <li class="my-1">• Areas, Shapes, Perimeter</li>
                    <li class="my-1">• Mensuration</li>
                    <li class="my-1">• Speed Time and Distance / Boats and Streams</li>
                    <li class="my-1">• Time and Work</li>
                    <li class="my-1">• Profit and Loss | Mixtures & Allegation</li>
                    <li class="my-1">• Problem on Ages</li>
                    <li class="my-1">• Divisibility</li>
                    <li class="my-1">• Number Decimal & Fractions</li>
                    <li class="my-1">• Series and Progression</li>
                    <li class="my-1">• LCM and HCF</li>
                    <li class="my-1 text-red-600">• More+</li>
                </ul>
            </div>
            <div class="w-1/3 px-16">
                <h1 class="sm:text-2xl text-xl font-medium title-font mb-4 text-gray-900 py-2">
                    Logical Syllabus
                </h1>
                <ul class="list-disc">
                    <li class="my-1">Arrangements</li>
                    <li class="my-1">Puzzles</li>
                    <li class="my-1">Syllogisms</li>
                    <li class="my-1">Coding Decoding</li>
                    <li class="my-1">Number series</li>
                    <li class="my-1">Clocks and Calendar</li>
                    <li class="my-1">Data Sufficiency</li>
                    <li class="my-1">Most logical choice</li>
                    <li class="my-1">Logical deduction</li>
                    <b class="my-1 text-red-600">More +</b>
                </ul>
            </div>
            <div class="w-1/3 px-16">
                <h1 class="sm:text-2xl text-xl font-medium title-font mb-4 text-gray-900 py-2">
                    Logical Syllabus
                </h1>
                <ul class="list-disc">
                    <li class="my-1">Blood Relation</li>
                    <li class="my-1">Coding Deductive Logic</li>
                    <li class="my-1">Directional Sense</li>
                    <li class="my-1">Odd man out</li>
                    <li class="my-1">Statement & Conclusion</li>
                    <li class="my-1">Number Series</li>
                    <li class="my-1">Seating Arrangement</li>
                    <li class="my-1">Syllogism</li>
                    <li class="my-1">Data Sufficiency</li>
                    <b class="my-1 text-red-600">More +</b>
                </ul>
            </div>
        </div>
        <div class="flex flex-wrap py-8">
            <div class="w-1/2 md:px-16 sm:px-4">
                <h1 class="sm:text-2xl text-xl font-medium title-font mb-4 text-gray-900 py-2">
                    Verval Syllabus
                </h1>
                <ul class="list-disc">
                    <li class="my-1">Reading Comprehension</li>
                    <li class="my-1">Sentence Correction</li>
                    <li class="my-1">Sentence selection</li>
                    <li class="my-1">Sentence Completion</li>
                    <li class="my-1">Para Jumbles</li>
                    <li class="my-1">Spotting error</li>
                    <li class="my-1">Analogy</li>
                    <li class="my-1">Fill in the Blanks</li>
                    <li class="my-1">One Word Substitution</li>
                    <b class="my-1 text-red-600">More +</b>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- -------- Footer ----------- -->

<app-footer></app-footer>