<app-header></app-header>
<hr>

<!-- -------------------- -->
<section class="text-gray-700 body-font md:mx-32 sm:mx-8 shadow-lg">
    <div class="container px-5 py-8">
        <div class="flex flex-col w-full mb-12 md:px-16 sm:px-4">
            <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900">
                TCS Syllabus 2020
            </h1>
            <p class="lg:w-2/3 leading-relaxed ">TCS conducts recruitment through the off Campus exams.<br>
                TCS conducts its 1st Round through the online test and there is negative marking for this exam</p>
            <b class="lg:w-2/3 leading-relaxed py-2">There are 4 sections in TCS Online Test Paper –</b>

            <b class="lg:w-2/3 leading-relaxed py-2">The latest TCS Online Assessment Pattern (90mins):</b>

            <ul class="list-disc ml-5">
                <li>
                    <b class="text-gray-600 hover:text-gray-800">NQT Test</b>
                    <ul class="my-2 ml-3">
                        <li>
                            <b class="text-red-600 hover:text-red-700">- Quantitative Aptitude</b>
                        </li>
                        <li>
                            <b class="text-red-600 hover:text-red-700">- Verbal English</b>
                        </li>
                        <li>
                            <b class="text-red-600 hover:text-red-700">- Programming Logic (C MCQ)</b>
                        </li>
                        <li>
                            <b class="text-red-600 hover:text-red-700">- Coding Ability</b>
                        </li>
                    </ul>
                </li>
                <li>
                    <b class="text-red-600 hover:text-red-700">Managerial /Hr Interview</b>
                </li>
            </ul>
        </div>
        <b class="lg:w-2/3 leading-relaxed py-2">NQT Test Pattern:</b>
        <div class="flex flex-col md:px-16 sm:px-4">
            <div class="-my-2 py-2 overflow-x-auto sm:-mx-6 sm:px-6 lg:-mx-8 lg:px-8">
                <div
                    class="align-middle inline-block min-w-full shadow overflow-hidden sm:rounded-lg border-b border-gray-200">
                    <table class="min-w-full">
                        <thead>
                            <tr class="bg-gray-300">
                                <th
                                    class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-800 uppercase tracking-wider">
                                    TCS SYLLABUS 2020
                                </th>
                                <th
                                    class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-800 uppercase tracking-wider">
                                    NO OF QUESTIONS
                                </th>
                                <th
                                    class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-800 uppercase tracking-wider">
                                    TIME (MINS)
                                </th>
                                <th
                                    class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-800 uppercase tracking-wider">
                                    DIFFICULTY
                                </th>
                                <th
                                    class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-800 uppercase tracking-wider">
                                    CUT OFF
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="bg-red-200">
                                <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">

                                    <div class="text-sm leading-5 font-medium text-gray-900">English
                                    </div>

                                </td>
                                <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
                                    <div class="text-sm leading-5 text-gray-900">15 (approx)
                                    </div>
                                </td>
                                <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
                                    <div class="text-sm leading-5 text-gray-900">10 mins (combined)
                                    </div>
                                </td>
                                <td
                                    class="px-6 py-4 whitespace-no-wrap border-b border-gray-200 text-sm leading-5 text-gray-500">
                                    <div class="text-sm leading-5 text-gray-900">Medium
                                    </div>
                                </td>
                                <td
                                    class="px-6 py-4 whitespace-no-wrap border-b border-gray-200 text-sm leading-5 font-medium">
                                    <div class="text-sm leading-5 text-gray-900">7
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">

                                    <div class="text-sm leading-5 font-medium text-gray-900">Quantitative
                                    </div>

                                </td>
                                <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
                                    <div class="text-sm leading-5 text-gray-900">15 (approx)
                                    </div>
                                </td>
                                <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
                                    <div class="text-sm leading-5 text-gray-900">30 mins (combined)
                                    </div>
                                </td>
                                <td
                                    class="px-6 py-4 whitespace-no-wrap border-b border-gray-200 text-sm leading-5 text-gray-500">
                                    <div class="text-sm leading-5 text-gray-900">Easy
                                    </div>
                                </td>
                                <td
                                    class="px-6 py-4 whitespace-no-wrap border-b border-gray-200 text-sm leading-5 font-medium">
                                    <div class="text-sm leading-5 text-gray-900">11
                                    </div>
                                </td>
                            </tr>
                            <tr class="bg-red-200">
                                <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">

                                    <div class="text-sm leading-5 font-medium text-gray-900">Programming Logic
                                    </div>

                                </td>
                                <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
                                    <div class="text-sm leading-5 text-gray-900">10 (approx)
                                    </div>
                                </td>
                                <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
                                    <div class="text-sm leading-5 text-gray-900">20 mins (combined)
                                    </div>
                                </td>
                                <td
                                    class="px-6 py-4 whitespace-no-wrap border-b border-gray-200 text-sm leading-5 text-gray-500">
                                    <div class="text-sm leading-5 text-gray-900">Medium
                                    </div>
                                </td>
                                <td
                                    class="px-6 py-4 whitespace-no-wrap border-b border-gray-200 text-sm leading-5 font-medium">
                                    <div class="text-sm leading-5 text-gray-900">7
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">

                                    <div class="text-sm leading-5 font-medium text-gray-900">Coding
                                    </div>

                                </td>
                                <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
                                    <div class="text-sm leading-5 text-gray-900">1
                                    </div>
                                </td>
                                <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
                                    <div class="text-sm leading-5 text-gray-900">30 mins
                                    </div>
                                </td>
                                <td
                                    class="px-6 py-4 whitespace-no-wrap border-b border-gray-200 text-sm leading-5 text-gray-500">
                                    <div class="text-sm leading-5 text-gray-900">Medium
                                    </div>
                                </td>
                                <td
                                    class="px-6 py-4 whitespace-no-wrap border-b border-gray-200 text-sm leading-5 font-medium">
                                    <div class="text-sm leading-5 text-gray-900">1
                                    </div>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- -------------------- -->

<section class="text-gray-700 body-font md:mx-32 sm:mx-8 shadow-lg">
    <div class="container px-5 py-8 mx-auto flex flex-wrap">
        <div class="flex flex-wrap w-full md:px-16 sm:px-4">
            <div class=" md:pr-10 md:py-6">
                <div class="flex relative pb-12">
                    <div class="h-full w-10 absolute inset-0 flex items-center justify-center">
                        <div class="h-full w-1 bg-gray-200 pointer-events-none"></div>
                    </div>
                    <div
                        class="flex-shrink-0 w-10 h-10 rounded-full bg-red-600 inline-flex items-center justify-center text-white relative z-10">
                        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                            stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                            <path d="M12 22s8-4 8-10V5l-8-3-8 3v7c0 6 8 10 8 10z"></path>
                        </svg>
                    </div>
                    <div class="flex-grow pl-4">
                        <h2 class="font-medium title-font text-sm text-gray-900 mb-1 tracking-wider">English</h2>
                        <div class="flex flex-wrap -m-4 text-center">
                            <div class="w-1/3 p-4">
                                <h2 class="title-font font-medium sm:text-lg text-md text-red-600 hover:text-red-700">No
                                    of Questions</h2>
                                <p class="leading-relaxed">15 (approx)</p>
                            </div>
                            <div class="w-1/3 p-4">
                                <h2 class="title-font font-medium sm:text-lg text-md text-red-600 hover:text-red-700">
                                    Time</h2>
                                <p class="leading-relaxed">10 mins (combined with Verbal and Logical)</p>
                            </div>
                            <div class="w-1/3 p-4">
                                <h2
                                    class="title-font font-medium sm:text-lg text-md text-red-600 hover:text-red-700 cursor-pointer">
                                    Negative Marking
                                </h2>
                                <p class="leading-relaxed">Yes</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flex relative pb-12">
                    <div class="h-full w-10 absolute inset-0 flex items-center justify-center">
                        <div class="h-full w-1 bg-gray-200 pointer-events-none"></div>
                    </div>
                    <div
                        class="flex-shrink-0 w-10 h-10 rounded-full bg-red-600 inline-flex items-center justify-center text-white relative z-10">
                        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                            stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                            <path d="M22 12h-4l-3 9L9 3l-3 9H2"></path>
                        </svg>
                    </div>
                    <div class="flex-grow pl-4">
                        <h2 class="font-medium title-font text-sm text-gray-900 mb-1 tracking-wider">Quants</h2>
                        <div class="flex flex-wrap -m-4 text-center">
                            <div class="w-1/3 p-4">
                                <h2 class="title-font font-medium sm:text-lg text-md text-red-600 hover:text-red-700">No
                                    of Questions</h2>
                                <p class="leading-relaxed">15 (approx)</p>
                            </div>
                            <div class="w-1/3 p-4">
                                <h2 class="title-font font-medium sm:text-lg text-md text-red-600 hover:text-red-700">
                                    Time</h2>
                                <p class="leading-relaxed">30 mins (combined with Verbal and Logical)</p>
                            </div>
                            <div class="w-1/3 p-4">
                                <h2
                                    class="title-font font-medium sm:text-lg text-md text-red-600 hover:text-red-700 cursor-pointer">
                                    Negative Marking
                                </h2>
                                <p class="leading-relaxed">Yes</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flex relative pb-12">
                    <div class="h-full w-10 absolute inset-0 flex items-center justify-center">
                        <div class="h-full w-1 bg-gray-200 pointer-events-none"></div>
                    </div>
                    <div
                        class="flex-shrink-0 w-10 h-10 rounded-full bg-red-600 inline-flex items-center justify-center text-white relative z-10">
                        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                            stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                            <circle cx="12" cy="5" r="3"></circle>
                            <path d="M12 22V8M5 12H2a10 10 0 0020 0h-3"></path>
                        </svg>
                    </div>
                    <div class="flex-grow pl-4">
                        <h2 class="font-medium title-font text-lg text-gray-900 mb-1 tracking-wider">CMCQ
                        </h2>
                        <div class="flex flex-wrap -m-4 text-center">
                            <div class="w-1/3 p-4">
                                <h2 class="title-font font-medium sm:text-lg text-md text-red-600 hover:text-red-700">No
                                    of Questions</h2>
                                <p class="leading-relaxed">10 (approx)</p>
                            </div>
                            <div class="w-1/3 p-4">
                                <h2 class="title-font font-medium sm:text-lg text-md text-red-600 hover:text-red-700">
                                    Time</h2>
                                <p class="leading-relaxed">20 mins (combined with Verbal and Logical)</p>
                            </div>
                            <div class="w-1/3 p-4">
                                <h2
                                    class="title-font font-medium sm:text-lg text-md text-red-600 hover:text-red-700 cursor-pointer">
                                    Negative Marking
                                </h2>
                                <p class="leading-relaxed">Yes</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flex relative pb-12">
                    <div class="h-full w-10 absolute inset-0 flex items-center justify-center">
                        <div class="h-full w-1 bg-gray-200 pointer-events-none"></div>
                    </div>
                    <div
                        class="flex-shrink-0 w-10 h-10 rounded-full bg-red-600 inline-flex items-center justify-center text-white relative z-10">
                        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                            stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                            <path d="M20 21v-2a4 4 0 00-4-4H8a4 4 0 00-4 4v2"></path>
                            <circle cx="12" cy="7" r="4"></circle>
                        </svg>
                    </div>
                    <div class="flex-grow pl-4">
                        <h2 class="font-medium title-font text-lg text-gray-900 mb-1 tracking-wider">Coding Ability
                        </h2>
                        <div class="flex flex-wrap -m-4 text-center">
                            <div class="w-1/3 p-4">
                                <h2 class="title-font font-medium sm:text-lg text-md text-red-600 hover:text-red-700">No
                                    of Questions</h2>
                                <p class="leading-relaxed">1</p>
                            </div>
                            <div class="w-1/3 p-4">
                                <h2 class="title-font font-medium sm:text-lg text-md text-red-600 hover:text-red-700">
                                    Time</h2>
                                <p class="leading-relaxed">30 mins</p>
                            </div>
                            <div class="w-1/3 p-4">
                                <h2
                                    class="title-font font-medium sm:text-lg text-md text-red-600 hover:text-red-700 cursor-pointer">
                                    Negative Marking
                                </h2>
                                <p class="leading-relaxed">No</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flex relative">
                    <div
                        class="flex-shrink-0 w-10 h-10 rounded-full bg-red-600 inline-flex items-center justify-center text-white relative z-10">
                        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                            stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                            <path d="M22 11.08V12a10 10 0 11-5.93-9.14"></path>
                            <path d="M22 4L12 14.01l-3-3"></path>
                        </svg>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>


<!-- -------------------- -->
<section class="text-gray-700 body-font md:mx-32 sm:mx-8 shadow-lg">
    <div class="container px-5 py-8">
        <div class="flex flex-col w-full mb-12 md:px-16 sm:px-4">
            <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900">
                TCS Selection Process
            </h1>
            <ul class="list-disc ml-16">
                <li class="my-1">
                    <b class="text-gray-800 hover:text-gray-900 text-lg">NQT Test</b>
                </li>
                <li class="my-1">
                    <b class="text-gray-800 hover:text-gray-900 text-lg">Technical Interview</b>
                </li>
                <li class="my-1">
                    <b class="text-gray-800 hover:text-gray-900 text-lg">Manegerial Interview</b>
                </li>
                <li class="my-1">
                    <b class="text-gray-800 hover:text-gray-900 text-lg">HR Interview</b>
                </li>
            </ul>
        </div>
    </div>
</section>

<!-- -------------------- -->

<section class="text-gray-700 body-font md:mx-32 sm:mx-8 shadow-lg">
    <div class="container px-5 py-8 mx-auto">
        <div class="flex flex-wrap">
            <div class="w-1/3 md:px-16 sm:px-4">
                <h1 class="sm:text-2xl text-xl font-medium title-font mb-4  text-gray-900 py-2">
                    About NQT Test
                </h1>
                <ul class="list-disc">
                    <li class="my-1">• The total time allotted to the written exam is 90 minutes. 
                        There is a negative marking of 0.33 in Quantitative Aptitude and Programming Language Efficiency section 
                        but there is no negative marking in rest of the sections.</li>
                    <li class="my-1">•	Quantitative Aptitude section consists of certain questions marked with a star in this section which signifies a higher weightage. 
                        This also means that they can give you a higher negative marking if answered incorrectly. This section comprises of questions on Averages, Time and Distance, Functions, Geometry. 
                        Time and Work, Mixtures and Allegations, Algebra, Percentages, Ratios, and Number System.</li>
                    <li class="my-1">•	Programming Language Efficiency contains MCQs which is related to the basic programming concepts.</li>
                    <li class="my-1">•	Coding Test section comprises of coding questions on Real Time programming. 
                        There is an option to choose to code from the languages – C/C++/Java/ Perl and Python.</li>
                    <li class="my-1">•	Overall the level of the paper is moderate. 
                        Only those candidates who clear the written exam will qualify for the next round</li>
                </ul>
            </div>
            <div class="w-1/3 px-16">
                <h1 class="sm:text-2xl text-xl font-medium title-font mb-4 text-gray-900 py-2">
                    English
                </h1>
                <ul class="list-disc">
                    <li class="my-1">You will get a long para. Which will have around 240 words. 
                        The whole paragraph will have 10 sentence completion questions with multiple choice options you have to choose one option out of the available ones. 
                        This section doesn't have any negative marking.
                        The questions will come from grammar ,synonyms, antonyms and more.</li>
                </ul>
            </div>
            <div class="w-1/3 px-16">
                <h1 class="sm:text-2xl text-xl font-medium title-font mb-4 text-gray-900 py-2">
                    Quantitative
                </h1>
                <ul class="list-disc">
                    <li class="my-1">Geometry</li>
                    <li class="my-1">Series and Progressions</li>
                    <li class="my-1">Reasoning</li>
                    <li class="my-1">Number System</li>
                    <li class="my-1">Probability</li>
                    <li class="my-1">Permutation and Combination</li>
                    <li class="my-1">Time Speed Distance</li>
                    <li class="my-1">Equations</li>
                    <li class="my-1">Simple and Compound Interest</li>
                    <li class="my-1">Ratio and Proportions</li>
                    <li class="my-1">Work and Time</li>
                    <li class="my-1">Number System</li>
                    <li class="my-1">LCM & HCF</li>
                    <b class="my-1 text-red-600">More +</b>
                </ul>
            </div>
        </div>
        <div class="flex flex-wrap py-8">
            <div class="w-1/2 md:px-16 sm:px-4">
                <h1 class="sm:text-2xl text-xl font-medium title-font mb-4 text-gray-900 py-2">
                    Programming Logics:
                </h1>
                <ul class="list-disc">
                    <li class="my-1">Data types</li>
                    <li class="my-1">Tree & Graph</li>
                    <li class="my-1">Greedy Algorithm</li>
                    <li class="my-1">Array, Stack and Queue</li>
                    <li class="my-1">Function and loop</li>
                    <li class="my-1">Recursion</li>
                    <li class="my-1">Command line Programming</li>
                    <b class="my-1 text-red-600">More +</b>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- -------- Footer ----------- -->

<app-footer></app-footer>